<section>
    <div class="menu">
        <div class="logpic"></div>
        <div class = "logo">Rouge Ultimate</div>
            <div class = "menuWrapper">
                <div class="button" onclick="Home()">Home</div>
                <div class="button" onclick="Updates()">Updates</div>
                <div class="button" onclick="Team()">Team</div>
                <div class="button" onclick="Download()">Download</div>
            </div>
        </div>
    </div>
    <div class="download">
            <a href="../files/Excuse.txt" download>
                <div class="dbutton"></div>
            </a>
    </div>
     <div class= "bottom">
        <div class="footwrapper">
            <a href="https://www.youtube.com/channel/UCtyedACwTcovc-B9MnXN0aw?view_as=subscriber">
            <div class = "icon">
                <div class="youtube"></div>
            </div>
            </a>
            <a href="https://discord.com/">
            <div class = "icon">
                <div class="discord"></div>
            </div>
            </a>
            <a href="https://github.com/batovski">
                <div class = "icon">
                     <div class="github"></div>
                </div>
            </a>
            <div class="brif">@ Devoloped by Bibo and Bobo </div>
        </div>
    </div>
    <script src="javascript/redirect.js"charset="utf-8"></script>
    <link rel="stylesheet" href="css/dstyle.css">
    <link rel="stylesheet" href="css/style.css">
</section>