<section>
    <div class="menu">
        <div class="logpic"></div>
        <div class = "logo">Rouge Ultimate</div>
            <div class = "menuWrapper">
                <div class="button" onclick="Home()">Home</div>
                <div class="button" onclick="Updates()">Updates</div>
                <div class="button" onclick="Team()">Team</div>
                <div class="button" onclick="Download()">Download</div>
            </div>
        </div>
    </div>
    </div>
    <div class = "pic">
        <div class="text">Flower Field 2017, Jongmin Ahn</div>
    </div>
    <div class = "h">What is Rouge Ultimate?
        <div class="brif">
            RougeUltimate is rouge-like game, where you have to pass trough all challanges, and save
            the Kingdom!
            This is our first try of making mobile game! 
            It is all about our dreams to come true...
            In this project we try to practice as much skills as we can.
            Improve our knowladge, and get fun!

        </div>
    </div>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <img class = "img" src="../img/Gameplay1.png">
            <div class="text">Tavern in Hub</div>
        </div>

        <div class="mySlides fade">
            <img class = "img"src="../img/GamePlay2.png">
            <div class="text">Stats and Inventory System</div>
        </div>

        <div class="mySlides fade">
            <img class="img" src="../img/trade.png">
            <div class="text">Trade System</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class= "bottom">
        <div class="footwrapper">
            <a href="https://www.youtube.com/channel/UCtyedACwTcovc-B9MnXN0aw?view_as=subscriber">
            <div class = "icon">
                <div class="youtube"></div>
            </div>
            </a>
            <a href="https://discord.com/">
            <div class = "icon">
                <div class="discord"></div>
            </div>
            </a>
            <a href="https://github.com/batovski">
                <div class = "icon">
                     <div class="github"></div>
                </div>
            </a>
            <div class="brif">@ Devoloped by Bibo and Bobo </div>
        </div>
    </div>
    <script src="javascript/slider.js" charset="utf-8"></script>
    <script src="javascript/redirect.js"charset="utf-8"></script>
    <link rel="stylesheet" href="css/style.css">
</section>