<section>
    <div class="menu">
        <div class="logpic"></div>
        <div class = "logo">Rouge Ultimate</div>
            <div class = "menuWrapper">
                <div class="button" onclick="Home()">Home</div>
                <div class="button" onclick="Updates()">Updates</div>
                <div class="button" onclick="Team()">Team</div>
                <div class="button" onclick="Download()">Download</div>
            </div>
        </div>
    </div>
    <div class = "table">
            <div class="card">
            <img class = "cartimg" src="../img/puzz13.png">
            <h1 class = "ctitle" >Alex</h1>
            <p class="ctitle">Developer</p>
            <div class = "brif">C++,C#,Python,Haskell</div>
            <a href="https://github.com/puzz13"> 
                <div class = "icon">
                     <div class="github"></div>
            </div></a>
            </div>

                <div class="card">
                <img class = "cartimg" src="../img/Dan.png">
                <h1 class = "ctitle" >Daniel</h1>
                <p class="ctitle">Developer</p>
                <div class = "brif">C++,C#,Python,JS</div>
                <a href="https://github.com/batovski"> 
                    <div class = "icon">
                        <div class="github"></div>
                    </div></a>
                </div>
            
                <div class="card">
                <img class = "cartimg" src="../img/Leonardo22241.png">
                <h1 class = "ctitle" >Lev</h1>
                <p class="ctitle">Developer</p>
                <div class = "brif">C++,C#,C,Python</div>
                <a href="https://github.com/Leonardo22241"> 
                    <div class = "icon">
                        <div class="github"></div>
                    </div></a>
                </div>
        </div>



     <div class= "bottom">
        <div class="footwrapper">
            <a href="https://www.youtube.com/channel/UCtyedACwTcovc-B9MnXN0aw?view_as=subscriber">
            <div class = "icon">
                <div class="youtube"></div>
            </div>
            </a>
            <a href="https://discord.com/">
            <div class = "icon">
                <div class="discord"></div>
            </div>
            </a>
            <a href="https://github.com/batovski">
                <div class = "icon">
                     <div class="github"></div>
                </div>
            </a>
            <div class="brif">@ Devoloped by Bibo and Bobo </div>
        </div>
    </div>
    <script src="javascript/redirect.js"charset="utf-8"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tstyle.css">
    <link rel="stylesheet" href="css/ustyle.css">
</section>