<section>
   <div class="menu">
        <div class="logpic"></div>
        <div class = "logo">Rouge Ultimate</div>
            <div class = "menuWrapper">
                <div class="button" onclick="Home()">Home</div>
                <div class="button" onclick="Updates()">Updates</div>
                <div class="button" onclick="Team()">Team</div>
                <div class="button" onclick="Download()">Download</div>
            </div>
        </div>
    </div>
    <ul class= "log">
        <li class= "content">
            <h1 class="title">Update#2<div class="date">28/07/2020</div></h1>
            <div class= "brif"; style= "overflow:auto;">- New AI system has been added! New opportunaties and more!
                <img class="patchPic" src="../img/castle.png">
                <img class="patchPic" src="../img/buildings.png">
                <img class="patchPic" src="../img/portions.png">
            </div>
        </li>
        <li class= "content"> 
            <h1 class = "title">Update#1<div class="date">10/06/2020</div></h1>
            <div class= "brif">- We have creeted some enemies to fight! Come here to test it.
        
                <div class="photo"></div>
                <div class="castle"></div>
            </div>
        </li>
    </ul>
    <div class= "info">Be notified!
        Get the Email with recent Updates:
    </div>
    <div class = "submition">
        <div class = "title">Your Name:</div>
        <input type="text" id="name" name="name">
        <div class = "title">Email:</div>
        <input type="text" id="email" name="email">
        <input id="submit" type="submit" value="Submit">
    </div>
    <div id = "sign"></div>
     <div class= "bottom">
        <div class="footwrapper">
            <a href="https://www.youtube.com/channel/UCtyedACwTcovc-B9MnXN0aw?view_as=subscriber">
            <div class = "icon">
                <div class="youtube"></div>
            </div>
            </a>
            <a href="https://discord.com/">
            <div class = "icon">
                <div class="discord"></div>
            </div>
            </a>
            <a href="https://github.com/batovski">
                <div class = "icon">
                     <div class="github"></div>
                </div>
            </a>
            <div class="brif">@ Devoloped by Bibo and Bobo </div>
        </div>
    </div>

    <script src="javascript/redirect.js"charset="utf-8"></script>
     <script src="javascript/post.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/submition.css">
    <link rel="stylesheet" href="css/ustyle.css">
</section>