<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../img/Heart.png">
        <meta charset="utf-8">
        <title>RougeUltimate</title>

    </head>
    <body>
        {{{body}}}

    </body>
</html>